// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "posts.css";
@import "bootstrap/scss/bootstrap";
@import "homepage";

#notice_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(135, 216, 211, 0.85);

  .notice, .alert {
    text-align: center;
    padding: 1.25rem 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1px;
  }
}
